AmpShare SF Codebase/force-app/main/default/flows/CreateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateAccount</name>
        <label>CreateAccount</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <actionName>FlowHTTPCalloutHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Service_Provider_Consumer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>https://ampshare-agentforce-4408573af561.herokuapp.com/api/accounts/upsert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerKeys</name>
            <value>
                <elementReference>Headerkey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerValues</name>
            <value>
                <elementReference>HeaderValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>UpsertAccountPayload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowHTTPCalloutHandler</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ResponseCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CreateAvailability</name>
        <label>CreateAvailability</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <actionName>FlowHTTPCalloutHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>https://ampshare-agentforce-4408573af561.herokuapp.com/api/availability/upsert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerKeys</name>
            <value>
                <elementReference>Headerkey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerValues</name>
            <value>
                <elementReference>HeaderValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>AvailabilityRequestbody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowHTTPCalloutHandler</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ResponseCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Make_HTTP_Callout_Action_3</name>
        <label>Make HTTP Callout Action 3</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <actionName>FlowHTTPCalloutHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Manage_Existing_Slot</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>https://ampshare-agentforce-4408573af561.herokuapp.com/api/chargers/upsert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerKeys</name>
            <value>
                <elementReference>Headerkey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerValues</name>
            <value>
                <elementReference>HeaderValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>UpsertChargerPayload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowHTTPCalloutHandler</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ResponseCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>RefreshAvailability</name>
        <label>RefreshAvailability</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <actionName>cdpRefreshDataStream</actionName>
        <actionType>cdpRefreshDataStream</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dataStreamId</name>
            <value>
                <stringValue>1dsNS000000RbgDYAS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>cdpRefreshDataStream</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Reservation</name>
        <label>Update Reservation</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <actionName>FlowHTTPCalloutHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cancellation_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>https://ampshare-agentforce-4408573af561.herokuapp.com/api/availability/upsert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerKeys</name>
            <value>
                <elementReference>Headerkey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerValues</name>
            <value>
                <elementReference>HeaderValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>AvailabilityRequestbody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowHTTPCalloutHandler</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ResponseCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>UpdateReserved</name>
        <label>UpdateReserved</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <actionName>FlowHTTPCalloutHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RefreshAvailability</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>https://ampshare-agentforce-4408573af561.herokuapp.com/api/availability/upsert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerKeys</name>
            <value>
                <elementReference>Headerkey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerValues</name>
            <value>
                <elementReference>HeaderValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>AvailabilityRequestbody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowHTTPCalloutHandler</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ResponseCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Cancellation_Message</name>
        <label>Cancellation Message</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>OutcomeMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Slot has been cancelled successfully</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>GetAccountIdValue</name>
        <label>GetAccountId</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountID.ssot__Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Provider_Consumer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetChargerId</name>
        <label>GetChargerId</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>chargerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCharger.ssot__Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Existing_Slot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HeaderAssignment</name>
        <label>HeaderAssignment</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Headerkey</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Content-Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HeaderValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SuccessMessage</name>
        <label>SuccessMessage</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>OutcomeMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuccessSlotCreation</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_exists</name>
        <label>Account exists?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GetAccountID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Customer</defaultConnectorLabel>
        <rules>
            <name>New_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAccount</targetReference>
            </connector>
            <label>New Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manage_Existing_Charger</name>
        <label>Manage Existing Charger ?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>GetCharger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Charger</defaultConnectorLabel>
        <rules>
            <name>New_Charger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chargerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_HTTP_Callout_Action_3</targetReference>
            </connector>
            <label>New Charger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manage_Existing_Slot</name>
        <label>Manage Existing Slot</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>CreateAvailability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New slot</defaultConnectorLabel>
        <rules>
            <name>Existing_Slot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SlotId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reservation</targetReference>
            </connector>
            <label>Existing Slot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Provider_Consumer</name>
        <label>Service Provider/Consumer</label>
        <locationX>380</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>GetSlots</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Consumer</defaultConnectorLabel>
        <rules>
            <name>Service_Provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountID.ssot__AccountContactRoles__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Provider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Existing_Charger</targetReference>
            </connector>
            <label>Service Provider</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SuccessSlotCreation</name>
        <dataType>String</dataType>
        <expression>&apos;A new Slot has been created successfully for the date &apos;</expression>
    </formulas>
    <interviewLabel>CreateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountID</name>
        <label>GetAccountID</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountIdValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>is_deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ssot__ExternalRecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__AccountContact__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCharger</name>
        <label>GetCharger</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetChargerId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chargerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>is_deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Asset__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSlots</name>
        <label>GetSlots</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateReserved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SlotId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>availability__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HeaderAssignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AvailabilityRequestbody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateofSlot</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Headerkey</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HeaderValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutcomeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlotId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpsertAccountPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpsertChargerPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
