AmpShare SF Codebase/force-app/main/default/flows/Verify_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SuccessMessage</name>
        <label>SuccessMessage</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OutcomeMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Welcome</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Unauthorised</name>
        <label>Unauthorised</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OutcomeMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unauthorised Usage</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_verified</name>
        <label>If verified</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Unauthorised</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unauthorised</defaultConnectorLabel>
        <rules>
            <name>Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Customer_by_PIN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessMessage</targetReference>
            </connector>
            <label>Verified</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Verify Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Verify_Customer_by_PIN</name>
        <label>Verify Customer by PIN</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_verified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_PIN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PIN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__AccountContact__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Customer_by_PIN</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OutcomeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
